In [3]:
import pandas as pd


Shape of the dataset is (9450,13) [Note if you are not getting this shape that means your data has not been uploaded correctly to the collab 
The target feature in the dataset is the 'Price' column. 
Random state should be taken as 42 wherever applicable. 
ignore all the warnings while executing the codes.



MetaData
Airline:The name of the airline 
 Source: The source from which the service begins 
 Destination: The destination where the service ends 
 Route: Route the flight took. 
 Dep_Time: The time when the journey starts from the source. 
 Arrival_Time: Time of arrival at the destination. 
 Duration: Total duration of the flight. 
 Total_Stops: Total stops between the source and destination. 
 Additional_Info: Additional information about the flight 
 Price: The price of the ticket ▶▶▶ Target 
 Month: Month of journey. 
 WeekDay: Day at which journey started. 
 Day: Date of the start of journey.

In [4]:
df = pd.read_csv("Preprocessing.csv")

In [5]:
df.shape

(9450, 13)

In [6]:
df.columns

Index(['Airline', 'Source', 'Destination', 'Route', 'Dep_Time', 'Arrival_Time',
       'Duration', 'Total_Stops', 'Additional_Info', 'Price', 'Month',
       'WeekDay', 'Day'],
      dtype='object')

What is the average of the flight ticket price? Write your answer correct to two decimal places.

In [7]:
df["Price"].mean()

9027.895555555555

During which month did the highest number of flights occur? Months are represented by numerical codes, with January corresponding to 1, February to 2, and so forth.

In [9]:
df['Month'].value_counts().idxmax()

5

Is the average price of flight tickets higher on weekends (Saturday and Sunday) or on weekdays (Remaining 5 days)?

In [11]:
df["weekend_flag"] = df['WeekDay'].apply(lambda x: 1 if x in ['Sunday', 'Saturday'] else 0)

In [12]:
df.groupby(by = "weekend_flag")['Price'].mean().idxmax()

1

Two of the entries in the 'Additional_Info' column are 'No info' and 'No Info'. Replace all occurrences of 'No Info' with 'No info'. How many flights fall under airline 'IndiGo' and have 'No info' as additional information?

In [13]:
df['Additional_Info'].value_counts()

Additional_Info
No info                         7375
In-flight meal not included     1750
No check-in baggage included     298
1 Long layover                    13
Change airports                    5
No Info                            3
2 Long layover                     3
1 Short layover                    2
Business class                     1
Name: count, dtype: int64

In [14]:
df['Additional_Info'] = df['Additional_Info'].replace('No Info', 'No info')

In [15]:
filtered_df = df[(df['Airline'] == 'IndiGo') & (df['Additional_Info'] == 'No info')]
filtered_df.shape

(1650, 14)

Convert the values of 'Duration' into seconds. Enter the average duration (in seconds) of a flight. Enter your answer correct to two decimal places.

In [33]:
def duration_to_seconds(duration):
    hours = 0
    minutes = 0
    parts = duration.strip().split()
    
    for part in parts:
        if 'h' in part:
            hours = int(part.replace('h', ''))
        elif 'm' in part:
            minutes = int(part.replace('m', ''))
    
    return hours * 3600 + minutes * 60
df['Duration'].apply(duration_to_seconds).mean()

38957.93650793651