In [2]:
import pandas as pd
import numpy as np

A) Shape of the dataset is (10000, 12) [Please note that if you do not obtain this shape, it may indicate that the data was not uploaded correctly into the Colab environment.]
B) For simplicity please consider all the unknown values ("?") as null values for this assignment.
C) Consider each question as individual question unless instructed otherwise and use the given csv data to compute all the solutions.

In [3]:
df = pd.read_csv("property.csv")

In [25]:
df.head()

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East

How many unknown ("?) values are present in the dataset? Remove/Delete unknown ("?) values present in the dataset to make it null value.
Remove/Delete - means it will show NAN in place of "?"
Note: If there is no value present in the dataset it is represented as NAN(read pandas documentation for all the other ways to represent null values) in data

In [30]:
unknown_count = (df == '?').sum().sum()

df.replace('?', np.nan, inplace=True)

In [36]:
unknown_count

1823

What is the shape of the dataset ?

In [38]:
df.shape

(10000, 12)

What is the value present at the 692th indexed row and 0th indexed column in the data ?

dataframe[692,0] (simpy saying this in a matrix)
rows/ columns starts indexing from zero(0) in python

In [39]:
df.iloc[692,0]

'2009-11-16'

What is the value present at the 546th indexed row and 7th indexed column in the data ?
 dataframe[546,7] (simpy saying this in a matrix)
 rows/ columns starts indexing from zero(0) in python

In [17]:
df.iloc[546,7]

3

What are the unique values present in the Locality feature of the dataset?

In [18]:
df['Locality'].unique()

array(['Waterbury', 'Bridgeport', 'Greenwich', 'Norwalk', nan,
       'Fairfield', 'West Hartford', 'Stamford'], dtype=object)

Which of the following feature has most missing(NaN) values present in the dataset?
 (Note: compute after removing "?")

In [41]:
# df.isna().sum()
df.columns[df.isna().any()].tolist()

['Locality', 'Estimated Value', 'Property', 'carpet_area']

In [42]:
max_null_column = df.isna().sum().idxmax()
max_null_count = df.isna().sum().max()

print(f"Column with the most NaN values: {max_null_column}")
print(f"Number of NaN values in this column: {max_null_count}")

Column with the most NaN values: Property
Number of NaN values in this column: 1823

Drop all the samples(rows) with missing values strictly greater than 2. How many samples remains after that ?
 (Note: compute after removing "?")

In [33]:
df1 = df.dropna(thresh=df.shape[1] - 2)
df1.shape

(9917, 12)

Drop all the samples(rows) with missing values in the original dataframe. How many samples remains after that ?
 (Note: compute after removing "?")

In [34]:
df2 = df.dropna()
df2.shape

(5449, 12)