In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("property.csv")


Select all the even indexed rows from the given dataset. What is the value in the 3rd indexed column of the 0th indexed row in the selected dataframe. (row/ column indexed from zero(0) in python/pandas)

In [6]:
df[df.index % 2 == 0].iloc[0, 3]

111440.0

Select all the even indexed rows from the given dataset. What is the value in the 3rd indexed column of the 332th indexed row in the selected dataframe. (row/ column indexed from zero(0))

In [7]:
df[df.index % 2 == 0].iloc[332, 3]

256200.0

Select all the odd indexed rows from the given dataset. What is the value in the 3rd indexed column of the 332th indexed row in the selected dataframe. (row/ column indexed from zero(0))
 Please consider case sensitivity while giving your solution capital letter ≠ small letter
  If it is a string don't write quotes in the solution.

In [9]:
df[df.index % 2 == 1].iloc[332, 3]

352940.0

Select all the odd indexed columns from the given dataset. What is the value in the 5th indexed column of the 100th indexed row in the selected dataframe. (row/ column indexed from zero(0))
Please consider case sensitivity while giving your solution capital letter ≠ small letter
If it is a string don't write quotes in the solution

In [14]:
df.iloc[:, 1::2].iloc[100, 5]

'West'

Select all the even indexed columns and even indexed rows from the given dataset. What is the value in the 3th indexed column of the 255th indexed row in the selected dataframe. (row/ column indexed/starts from zero(0))
Please consider case sensitivity while giving your solution capital letter ≠ small letter
If it is a string don't write quotes in the solution.

In [13]:
df[df.index % 2 == 0].iloc[:, ::2].iloc[255, 3]

'Detached House'

Determine the number of samples (rows) in the dataset that belong to the six most recent years, based on the provided data.

In [19]:
df[df['Year']>=2025-6].shape

(3242, 12)

Determine the number of samples (rows) in the dataset which has num_rooms = 3 and num_bathrooms = 3

Determine the number of samples (rows) in the dataset which has num_rooms = 3 or num_bathrooms = 3

In [21]:
df[(df['num_rooms']==3)& (df['num_bathrooms']==3)].shape

(2730, 12)

In [22]:
df[(df['num_rooms']==3) | (df['num_bathrooms']==3)].shape

(8591, 12)


In the Year 2022, how many houses (rows) located in the Greenwich Locality have exactly num_room == 3, and facing towards either the North or East?

In [25]:
df[(df['Locality']=='Greenwich')& (df['num_rooms']==3)& df['Face'].isin(['East','North'])].shape

(487, 12)

Calculate the number of samples(rows) that correspond to the month of August across all the years.?

In [26]:
df.head()

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East

In [28]:
df['Date'] = pd.to_datetime(df['Date'])

In [30]:
df[df['Date'].dt.month == 8].shape

(1050, 12)

According to the data which Locality have highest average Sale Price

In [32]:
df.groupby(by = 'Locality')['Sale Price'].mean().idxmax()

'Greenwich'